
<footer class="site-footer">

  <div class="wrap">


    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li>Universidad de Castilla-La Mancha</li>        
        <li>Campus de Albacete</li>        

        <li><a href="mailto:{{ site.email }}">Webmaster</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">

    </div>
    <div class="footer-col-3 column">
    <p>Entidades colaboradoras:</p>
      <a href = "http://www.uclm.es"><img src = "imgs/UCLM_tiny.png" alt = "UCLM"></a>
      <a href = "http://scmpm.centros.castillalamancha.es"><img src = "imgs/SCMPM_tiny.jpg" alt = "SCMPM"></a>
      <a href = "http://matematicas.uclm.es/depmate/index.php"><img src = "imgs/dpto_matematicas_tiny.jpg" alt = "Dpto. Matemáticas - UCLM"></a>
    </div>


  </div>

</footer>
